<div id="menu-constructor" class="row">
    <!--        <div class="line-resize"></div>-->
    <div class="buttons-area col-md-2">
        <button id="addInput" type="button" class="btn-primary elem-btn-lg mb-3">
            Добавить input
        </button>
        <button id="deleteInput" type="button" class="btn-primary elem-btn-lg mb-4">
            Удалить input
        </button>
    </div>
    <div class="range-area col-md-4">
        <div class="s-range">
            <label for="widthRange" class="form-label text-white text-center mb-0">Ширина</label>
            <div>
                <input type="range" min="10" max="425" value="300" class="form-range"
                       id="widthRange" oninput="widthInput.value = widthRange.value">
            </div>
            <div class="d-flex justify-content-center mt-2">
                <input class="text-center form-control" type="number" autocomplete="off"
                       placeholder="50 - 600" id="widthInput"
                       oninput="widthRange.value = widthInput.value">
            </div>
        </div>
        <div class="s-range mt-2">
            <label for="heightRange" class="form-label text-white text-center mb-0">Высота</label>
            <div>
                <input type="range" min="10" max="200" value="30" class="form-range"
                       id="heightRange" oninput="heightInput.value = heightRange.value">
            </div>
            <div class="d-flex justify-content-center mt-2">
                <input class="text-center form-control" type="number" autocomplete="off"
                       placeholder="20 - 200" id="heightInput"
                       oninput="heightRange.value = heightInput.value">
            </div>
        </div>
    </div>
    <div class="tooltip-area col-md-4">
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="help"
                       id="check_tooltip" value="help" checked>
                <label class="form-check-label" for="check_tooltip">
                    Подсказка
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="caption"
                       id="check_sign" value="caption">
                <label class="form-check-label" for="check_sign">
                    Подпись
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="answer"
                       id="check_answer" value="answer">
                <label class="form-check-label" for="check_answer">
                    Ответ
                </label>
            </div>
        </div>
        <div class="help">
            <a>Подсказка<i class='far fa-question-circle'></i></a>
            <a class='hover_a' style='width: 200px'>КЛЮЧЕВЫЕ СЛОВА:</a>
        </div>
        <textarea id="hint" class="form-control" rows="6"></textarea>
    </div>
</div>
